@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --font-volkhov: 'Volkhov';
   --font-inter: 'Poppins', sans-serif;
   --font-open_sans: 'Open_sans', sans-serif;
}

  
.volkhov {
    font-family: var(--font-volkhov);
}
  
.inter {
    font-family: var(--font-poppins);
}

.opensans{
    font-family: var(--font-open_sans);
}

h2{
    font-family: var(--font-volkhov);
    color: #14183E;
}